@import "../../../../styles/variables";

.scores-wrapper {
  width: 400px;
  height: 200px;
  background-color: $secondaryColor;
  border-radius: 5px;
  margin: 20px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scores-item {
  display: flex;
  justify-content: space-between;
}
.scores-item--elem {
  color: #fff;
  padding: 25px;
}