.user-wrapper {
  display: flex;
  align-items: center;
}
.user-name {
  color: #fff;
  margin-right: 20px;
}
.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px dotted #ffc0cb;
  margin-right: 50px;
}